/* Margin Top */
.margin-top-0 {
    margin-top: 0px !important;
}

.margin-top-1 {
    margin-top: 2px !important;
}

.margin-top-4 {
    margin-top: 4px !important;
}

.margin-top-8 {
    margin-top: 8px !important;
}

.margin-top-16 {
    margin-top: 16px !important;
}

.margin-top-32 {
    margin-top: 32px !important;
}

.margin-top-64 {
    margin-top: 64px !important;
}

.margin-top-128 {
    margin-top: 128px !important;
}

/* Margin Left */
.margin-left-0 {
    margin-left: 0px !important;
}

.margin-left-1 {
    margin-left: 2px !important;
}

.margin-left-4 {
    margin-left: 4px !important;
}

.margin-left-8 {
    margin-left: 8px !important;
}

.margin-left-16 {
    margin-left: 16px !important;
}

.margin-left-32 {
    margin-left: 32px !important;
}

.margin-left-64 {
    margin-left: 64px !important;
}

.margin-left-128 {
    margin-left: 128px !important;
}

/* Margin Right */
.margin-right-0 {
    margin-right: 0px !important;
}

.margin-right-1 {
    margin-right: 2px !important;
}

.margin-right-4 {
    margin-right: 4px !important;
}

.margin-right-8 {
    margin-right: 8px !important;
}

.margin-right-16 {
    margin-right: 16px !important;
}

.margin-right-32 {
    margin-right: 32px !important;
}

.margin-right-64 {
    margin-right: 64px !important;
}

.margin-right-128 {
    margin-right: 128px !important;
}

/* Margin Bottom */
.margin-bottom-0 {
    margin-bottom: 0px !important;
}

.margin-bottom-1 {
    margin-bottom: 2px !important;
}

.margin-bottom-4 {
    margin-bottom: 4px !important;
}

.margin-bottom-8 {
    margin-bottom: 8px !important;
}

.margin-bottom-16 {
    margin-bottom: 16px !important;
}

.margin-bottom-32 {
    margin-bottom: 32px !important;
}

.margin-bottom-64 {
    margin-bottom: 64px !important;
}

.margin-bottom-128 {
    margin-bottom: 128px !important;
}

/* Center Margin */
.margin-center {
    margin: 0px auto !important;
}
